<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">EMPLOYEE ID</label>
                    <input type="text" class="form-control" placeholder="EMPLOYEE ID" >
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">EMPLOYEE NAME</label>
                    <input type="text" class="form-control" placeholder="EMPLOYEE NAME">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">DESIGNATION</label>
                    <input type="text" class="form-control" placeholder="DESIGNATION" >
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">SALARY</label>
                    <input type="text" class="form-control" placeholder="SALARY" >
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">ADDRESS</label>
                    <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="ADDRESS"></textarea>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-primary">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
name="emp_id" ([ngModel])="emp_id"
name="name" ([ngModel])="name"
name="designation" ([ngModel])="designation"
name="salary" ([ngModel])="salary"
name="address" ([ngModel])="address" -->